{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}
Sector
{%endblock title%}
{% block content %}
<div class="container-fluid col-10 mb-5">
    <h2 class="text-center">Total investment: {{total|floatformat:"-2g"}} $</h2>

    <ul class="list-group mt-4">
        <li class="list-group-item"><strong>Precious Metal </strong>{{totals.0|floatformat:"-2g"}}$ - {{percentage.0}}</li>
    </ul>
    <ul class="list-group  mt-2">
        <li class="list-group-item"><strong>Energy sector </strong>{{totals.1|floatformat:"-2g"}}$ - {{percentage.1}}</li>
    </ul>
    <ul class="list-group mt-2">
        <li class="list-group-item"><strong>Metal sector </strong>{{totals.2|floatformat:"-2g"}}$ - {{percentage.2}}</li>
    </ul>
    <ul class="list-group  mt-2">
        <li class="list-group-item"><strong>Cash </strong>{{totals.3|floatformat:"-2g"}}$ - {{percentage.3}}</li>
    </ul>
    <ul class="list-group  mt-2">
        <li class="list-group-item"><strong>Equity </strong>{{totals.4|floatformat:"-2g"}}$ - {{percentage.4}}</li>
    </ul>
</div>
{%if total > 0 %}
<br>
<div class="col-10 container-fluid mt-5 mb-5">
    <form action="" method="POST">{%csrf_token%}
        {{form_b|crispy}}
        <button type="submit" class="btn btn-primary ">View</button>
    </form>
  </div>
    <div class="ml-5 justify-content-center">
      <div class="ml-5">
      <div class="ml-5">
      <img class="ml-5 center" src="data:image/png;base64, {{chart|safe}}">
      </div>
      </div>
    </div>
{%endif%}
{% endblock content %}