{%extends "base.html"%}
{%load crispy_forms_tags%}
{%block title%}
Sector
{%endblock title%}
{%block content%}
<div class="container-fluid col-10 mb-5">

  {%if total > 0%}
    <h2 class="text-center mb-4">Total investment: {{total|floatformat:"-2g"}} $</h2>
  {%else%}
    <div class="jumbotron">
    <h1 class="display-4">No data to display</h1>
    <p class="lead">Click the Add in order to append a new item, thanks to that you will be able to see you portfolio</p>
    <hr class="my-4">
    <p>Investing in financial markets requires you to have knowledge about various financial markets. This site afford you to see for yourself how well is your portfolio diversed</p>
    </div>
  {%endif%}
  <br>

  
  {%if totals%}
    <table class="table table-striped table-hover">
      <thead>
      <tr>
      <th scope="col">Sector</th>
      <th scope="col">Invested</th>
      <th scope="col">Percentage</th>
      </tr>
      </thead>
      <tbody>
        {%for instance in totals%}
            <tr>
            <td><b>{{instance.sector}}</b></td>
            <td>{{instance.invested|floatformat:"-2g"}}$</td>
            <td>{{instance.percentage}}</td>
            </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
    {%endif%}

  {%if total%}
    <div class="col-10 container-fluid mt-3 mb-5">
      <form action="" method="POST">{%csrf_token%}
        {{form_b|crispy}}
        <button type="submit" class="btn btn-primary ">View</button>
      </form>
    </div>

      <div style="margin-left: 200px;" class="justify-content-center">
        <img class="center" src="data:image/png;base64, {{chart|safe}}">
      </div>
  {%endif%}
{% endblock content %}