.asteriskField {
  display: none;
  }
.space{
  margin-top: 100px;
}
.bottom-space{
    margin-bottom:200px;
}
.main{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}
.extra-space{
    height: 200px;
}